[Desktop Entry]
Name=Emerge
Comment=A modern GTK4 Libadwaita interface for Stable-Diffusion.cpp
Exec=emerge-wrapper
Icon=com.github.emerge
Terminal=false
Type=Application
Categories=Graphics;
