[Desktop Entry]
Name=Emerge
Comment=A modern GTK4 Libadwaita user interface for Stable-Diffusion.cpp
Exec=emerge-wrapper
Icon=com.github.emerge
Type=Application
Categories=Graphics;
Terminal=false
StartupNotify=true
